<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thtf.leanpackage">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MineApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity android:name="com.thtf.leanpackage.MainActivity">

        </activity>
        <!--自定View-->
        <activity android:name=".BaseViewActivity">

        </activity>
        <!--手势操作Activity-->
        <activity android:name=".GestureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--简单封装的AsyncTask-->
        <activity android:name=".async_task_lean.SimpleAsyncTaskActivity">

        </activity>
        <!--线程池-->
        <activity android:name=".thread_pool_mode.thread_pool_mode_demo.ThreadActivity"></activity>


        <!--***********************************Binder 通信****************************************-->

        <!--自定义AIDL可跨进程通信的Client客户端-->
        <activity android:name=".binder_proxy_package.client.ClientActivity"></activity>
        <!--自定义AIDL可跨进程通信的Server服务端,执行poxy方法-->
        <service
            android:name=".binder_proxy_package.server.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.thtf.leanpackage.server" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--通用AIDL不可跨进程通信Client客户端-->
        <activity android:name=".binder_aidl_package.client.AIDLActivity"></activity>
        <!--通用AIDL不可跨进程通信Server服务端-->
        <service
            android:name=".binder_aidl_package.server.AIDLService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.thtf.leanpackage.aidl.server" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--EventBus通信-->
        <activity android:name=".event_bus_package.EvenBusServerActivity" />
        <activity android:name=".event_bus_package.EventBusClickActivity">

        </activity>

        <!--********************************Annotation注解 Click事件封装****************************************-->

        <activity android:name=".common_activity.ContentViewAnnotationActivity">

        </activity>
    </application>

</manifest>